@import "tailwindcss";

body {
    background: linear-gradient(
    to right,
    #1a1a1a,
    #0d1b2a,
    #1b263b
    );
    height: 100vh;
    color: white;
}

* {
  font-family: "Montserrat", sans-serif;
}

/* Hide scrollbar while keeping scroll functionality */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

button{
  @apply cursor-pointer
}