@import "tailwindcss";

body {
  @apply h-screen
}

* {
  font-family: "Montserrat", sans-serif;
}

/* Hide scrollbar while keeping scroll functionality */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

button{
  @apply cursor-pointer
}